.navbar-inverse{
	
	background-color: #14253E; 

}
.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}

.panel-heading a.collapsed{
	text-decoration: none; 
}

.panel-heading a.collapsed:hover{
	text-decoration: underline; 
}
.panel{
	margin-bottom:15px !important; 
}

.panel-heading{
	background-image:none !important; 
	background-color: #9BA8B5 !important;  
	color: white; 

}
.progress{
	margin-bottom:10px;
	margin-top:15px;
}
#tallySave{
	/*
	clear: both; 
	display:block;
	*/
}
#tallySaveChair{
	margin-left:67px;
}
#overflow{
	overflow:auto;
	clear:both;
	padding-bottom:10px;
}
#goButton{
	margin-right:10px;
}

#nextButton{
	margin-right:10px;
}
#goButtonNo{
	margin-right:10px;
}

#nextButtonNo{
	margin-right:10px;
}
#messageTable{
	margin-bottom:0px;
}
html{
	height:100%;
}

body {
	min-height: 100%;
	margin:0; 
	background-repeat: no-repeat; 
	background-attachment: fixed; 
	//display:block;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #003800),
		color-stop(1, #006902)
	);
	background-image: -o-linear-gradient(bottom, #003800 0%, #006902 100%);
	background-image: -moz-linear-gradient(bottom, #003800 0%, #006902 100%);
	background-image: -webkit-linear-gradient(bottom, #003800 0%, #006902 100%);
	background-image: -ms-linear-gradient(bottom, #003800 0%, #006902 100%);
	background-image: linear-gradient(to bottom, #003800 0%, #006902 100%);	
	font-family: 'Roboto Slab', serif;
	height: 100% !important;
}

#familyID{
	font-size:22px;
	height:34px;
}

#tallyChairStatus{
	font-size:20px;
	height:34px;
}

#familyIDNum{
	width:60px;
}
#familyIDNumNo{
	width:60px;
}

#login h1 a{
	background-image:url(https://parents.sjvsj.org/media/SJV-Web-Header.png); 
	background-position: center top; 
	background-size: auto!important; 
	background-repeat: no-repeat; 
	display: block; 
	margin: 0 auto;
	overflow: hidden; 
	text-indent: -9999px; 
	height: 111px; 
	width: auto; 
	text-decoration: none; 
	outline:0; 

}

.page-header#service-header h1 {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}
.page-header#service-header h2 {
	text-align: center;
	font-size: 16px;
}

.page-header#service-header p{
	text-align:center;
}




.container-main{
	background-color:white;
	border-radius: 9px;
	border-bottom-right-radius: 0px;	
	border-bottom-left-radius: 0px;
	/*background-image:url(https://parents.sjvsj.org/media/noisy_grid.png);*/ 
	/* min-height: 80%; */
	/* margin:0 auto -100px; */ 
	/*
	min-height: -moz-calc(100% - 100px);
	min-height: -webkit-calc(100% - 100px);
	min-height: calc(100% - 100px);
	*/
	min-height:calc(100% - 300px);
	padding-bottom:20px;
}
.container{
	width: 970px; 
}

.container-wide{
	width: 1170px;
}

.floatRight{
	float:right;
}

.display-nav{
	border-radius:7px; 
	border-bottom-right-radius: 0px;	
	border-bottom-left-radius: 0px;
	background-image:none; 
	border-color: transparent;

	//background-color: #4582ec; 
}
.display{
	padding-left: 15px; 
	padding-right: 15px; 
}

.footer {
	height: 80px; 	
	//background-color: #434A54; 

	background-color: #14253E; 
	padding: 30px;
	text-align: center;
	color:white; 
}

.footer p{
	color: white; 
}

.info-body{

	padding: 30px; 
}

.modal-open .modal,.btn:focus{
	outline:none!important; 
}

pre{
	padding: 4px;
	word-wrap:normal;
}

.page-header{
	border-bottom: 2px solid #000; 
	margin-top:30px; 
	/*overflow:auto;*/
}

.login-panel{
	border: none; 
}

.checkbox label{
	font-size: small; 

}
.form-inline .form-group{
	margin-bottom:10px !important; 
}
.form-inline label {
    padding-right: 5px;
}
